---
import Layout from "../layouts/Layout.astro";
---

<style>
  .equipment-list {
    padding: 0.75rem 0 0 0.75rem;
  }
  .flex {
    display: flex;
    align-items: center;
  }
  .story-container {
    border-radius: 0;
  }
</style>
<Layout>
  <div class="opening-container">
    <h2>Our Promise</h2>
    <p>
      You’ve heard it from our competitors. “We are different.” “We pay More
      than anyone!” Guardian Medical Equipment is a new company, started by
      someone who helped change the way we think about equipment disposition.
      I’ve bought medical equipment for years and have come to one truth: There
      is not ONE solution for every hospital. Even the biggest companies in this
      industry cannot understand this fact. Equipment disposition is difficult
      for our hospitals. Your job is to provide and maintain safe medical
      equipment. Patient care is paramount, and we respect that. Guardian
      Medical Equipment strives to make selling to us convenient for you. We
      work to provide the best possible offer. We don’t make false claims, so if
      you get a higher bid, we respect that. -Brandt Butze, Owner
    </p>
  </div>
  <div class="story-container">
    <h2>What We Buy</h2>
    <ul class="equipment-list flex">
      <div style="padding-right: 15%;">
        <li>Infusion Therapy Equipment/Pumps</li>
        <li>Patient Monitoring Equipment</li>
        <li>Defibrillators</li>
        <li>Respiratory Equipment/Ventilators</li>
        <li>Ambulance Equipment</li>
        <li>Anesthesia Machines</li>
        <li>EKG</li>
      </div>
      <div>
        <li>Test Equipment</li>
        <li>Imaging Equipment</li>
        <li>ESU’s</li>
        <li>Sterilizers</li>
        <li>Endoscopy Equipment</li>
        <li>Surgical Microscopes</li>
        <li>Surgical Tables</li>
      </div>
    </ul>
  </div>
  <div class="opening-container">
    <h2>How We Pay</h2>
    <ul class="equipment-list">
      <li>Checks Prior to Pickup</li>
      <li>Wire Prior to Pickup</li>
      <li>
        Credit toward depot repair, rentals, purchases, and servicing of
        equipment
      </li>
    </ul>
  </div>
</Layout>
