---
import Layout from "../layouts/Layout.astro";
---

<style>
  .equipment-list {
    padding: 0.75rem 0 0 0.75rem;
  }
  .flex {
    display: flex;
    align-items: center;
  }
  .story-container {
    border-radius: 0;
  }
</style>
<Layout>
  <div class="opening-container">
    <h2>Guardian Medical Equipment</h2>
    <div>
      <p>
        Are you looking to purchase refurbished equipment? Is your site in need
        of reliable rental options heading into flu season? Is your clinical
        engineering department overworked and in need of equipment depot repair?
        We can help! Guardian Medical Equipment works with a vetted supply chain
        of vendors throughout the US.
      </p>
      <p>
        Why pay middleman fees? We buy used medical equipment, and “stay in our
        lane.” Guardian Medical Equipment will use credits earned by you to
        assist in paying for patient ready equipment at no additional cost to
        you.
      </p>
      <p>
        We can give you multiple dealers, with whom we’ve worked, to help your
        team.
      </p>
    </div>
  </div>
  <div class="story-container">
    <h2>What We Buy</h2>
    <ul class="equipment-list flex">
      <div style="padding-right: 15%;">
        <li>Infusion Therapy Equipment/Pumps</li>
        <li>Patient Monitoring Equipment</li>
        <li>Defibrillators</li>
        <li>Respiratory Equipment/Ventilators</li>
        <li>Ambulance Equipment</li>
        <li>Anesthesia Machines</li>
        <li>EKG</li>
      </div>
      <div>
        <li>Test Equipment</li>
        <li>Imaging Equipment</li>
        <li>ESU’s</li>
        <li>Sterilizers</li>
        <li>Endoscopy Equipment</li>
        <li>Surgical Microscopes</li>
        <li>Surgical Tables</li>
      </div>
    </ul>
  </div>
  <div class="opening-container">
    <h2>How We Pay</h2>
    <ul class="equipment-list">
      <li>Checks Prior to Pickup</li>
      <li>Wire Prior to Pickup</li>
      <li>
        Credit toward depot repair, rentals, purchases, and servicing of
        equipment
      </li>
    </ul>
  </div>
</Layout>
