---
import Layout from "../layouts/Layout.astro";
---

<style>
  p {
    padding: 0.75rem 1rem 1rem;
  }
</style>
<Layout>
  <div class="opening-container">
    <h2>Our Story</h2>
    <p>
      We repurpose used medical equipment from hospitals. Guardian Medical
      Equipment was founded in the heart of Cleveland, Ohio to simplify
      disposition of medical equipment for our hospital partners. The company
      was founded by Brandt Butze in 2021, after years working in the field.
    </p>
    <p>
      Brandt first worked in the medical device replacement parts business
      before his transition to a startup in the disposition industry. After
      being instrumental in the success of that organization, his family was
      dealt a tragedy. Brandt’s oldest child, Jacob, a 19-year-old college
      student at Miami (Ohio), was diagnosed with Acute Lymphoblastic Leukemia.
      Jacob fought cancer with the fierce attitude he possessed until December
      of 2020 when the disease took his life. After needed family time, Brandt
      started the Jacob Butze Memorial Foundation (ButzeFoundation.org) and
      followed that venture with Guardian Medical Equipment.
    </p>
    <p>
      GME is nestled in the Tremont neighborhood of Cleveland, overlooking its
      skyline. The Hope Memorial Bridge, which links the east and west side of
      Cleveland, sits in our view. On that bridge, Henry Hering’s Guardians of
      the City, stone statues protect Cleveland. The baseball field sits just
      past the statues, thus, the birth of Guardian Medical Equipment.
    </p>
    <p>
      Our mission is to provide the best solutions for our hospitals and vendors
      who buy disposed medical equipment. We know our strengths and are not
      afraid to admit our weaknesses. Here’s what most companies don’t say. We
      want to make profit. Finding solutions for our customers, however, is more
      important. The COVID-19 Pandemic taught us more about the shortcomings of
      the medical industry than the previous 150 years. Hospitals are
      understaffed and overworked. This isn’t new but it was exposed.
    </p>
    <p>
      Our Mission is to extend the life of equipment in every way possible. We
      hear buzzwords like “waste” and “life-cycle” but what does that mean?
      Contact Guardian Medical Equipment. Our vast supply chain needs used
      equipment. Our supply chain effectively reintroduces certified parts and
      devices back into the market. We care. We will show you how and why you
      want to work with GME. Hospitals are being asked, more than ever, to
      stretch already tight budgets and workforce. We will help.
    </p>
  </div>
  <!-- <div class="story-container"></div> -->
</Layout>
