---
import Layout from "../layouts/Layout.astro";
---

<style>
  svg {
    padding: 0 1rem 1rem 0;
  }
  h2 {
    padding: 0 0 0.5rem;
  }
  p {
    padding: 0.75rem 0 0;
  }
  ul {
    list-style-type: none;
  }
  li {
    padding-bottom: 0.5em;
  }
  span {
    font-weight: bold;
  }
  .member-header-container {
    padding-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .story-container {
    border-radius: 0;
  }
</style>

<Layout>
  <div class="opening-container">
    <div class="member-header-container">
      <div style="padding-bottom: 1rem;">
        <h2>Shoshana Freedman</h2>
        <h3>VP Sales and Purchasing</h3>
        <h3>Voted Loudest and Most Fun Employee</h3>
      </div>

      <svg width="10rem" height="10rem" xmlns="http://www.w3.org/2000/svg">
        <circle cx="50%" cy="50%" r="4.8rem" fill="var(--guardian-green)"
        ></circle>
      </svg>
    </div>
    <ul>
      <li>
        <span>In another life</span>, I'm pretty sure I was a Princess.
      </li>
      <li>
        <span>If I won the lottery tomorrow</span>, I would go to a war-torn
        country and help people… but still show up to work Monday.
      </li>
      <li>
        <span>The best piece of advice I've ever been given</span> "It’s better to
        be kind than right."
      </li>
      <li>
        <span>If I could invent a holiday</span>, it would involve food and
        family.
      </li>
      <li>
        <span>
          What advice would you give a candidate who wants to join our team of
          superstars?
        </span> Keep your sense of humor.
      </li>
      <li>
        <span>If I weren't so damn good at my job</span> I'd probably be an interior
        designer.
      </li>
      <li><span>Cats or dogs?</span> Dogs.</li>
      <li>
        <span>If I were a superhero</span>, my superpower would be curing
        illnesses.
      </li>
      <li><span>When I was 5</span>, I was pretty sure I'd be a lawyer</li>
      <li>
        <span>Who is someone you admire, and why?</span> Ruth Bader Ginsberg because
        of her strong sense of justice.
      </li>
      <li>
        <span>Name three words that you describe you.</span> Impulsive, funny, giving.
      </li>
      <li>
        <span>How do you think your colleagues would describe you?</span> Annoying
        but worth it.
      </li>
      <li>
        <span>What do you want to make sure you do before you die?</span> Make a
        palpable difference in lives of the less fortunate.
      </li>
    </ul>
  </div>

  <div class="story-container">
    <div class="member-header-container">
      <svg width="10rem" height="10rem" xmlns="http://www.w3.org/2000/svg">
        <circle cx="50%" cy="50%" r="4.8rem" fill="var(--guardian-green)"
        ></circle>
      </svg>
      <div style="padding-bottom: 1rem;  text-align: right">
        <h2>Thunder Dan</h2>
        <h3>Voice of Reason</h3>
        <h3>Guardian Medical’s Travelin’ Man</h3>
      </div>
    </div>
    <ul>
      <li>
        <span>In another life</span>, I'm pretty sure I was racecar driver.
      </li><li>
        If I won the lottery tomorrow, I'd start an indoor/outdoor athletic
        training facility. And, you know, keep working here.
      </li>
      <li>
        <span>The best piece of advice I've ever been given</span> "If you want something
        done, do it yourself."
      </li><li>
        <span>If I could invent a holiday</span> it would involve hiking in the wilderness.
      </li><li>
        <span>
          What advice would you give a candidate who wants to join our team of
          superstars?
        </span> Be motivated and persistent.
      </li><li>
        <span>If I weren't so damn good at my job</span> I'd probably be a couch
        potato.
      </li>
      <li><span>Cats or dogs?</span> My dog’s name is Sophia. Enough said.</li>
      <li>
        <span
          >My favorite word in the English language is <span
            style="font-style: italic;">faith.</span
          >
        </span>
      </li><li>
        <span
          >My least favorite word that has no direct English translation is
        </span><span style="font-style: italic;">THAT.</span>
        It should be removed from the English language.
      </li>
      <li>
        <span>What's the most inspiring part of your job</span>? I am helping
        others with a solution to a problem.
      </li><li>
        <span>The most important thing I learned before high school was</span> it
        costs nothing to be kind.
      </li><li>
        <span>If I were a superhero,</span> my superpower would be the ability to
        be in two places at one time.
      </li>
      <li>
        <span>When I was 5,</span> I was pretty sure I'd be a clerk at Lawson’s for
        the free candy when I grew up.
      </li><li>
        <span>Who is someone you admire, and why?</span> I admire my grandmother
        for leaving her hometown of Donegal, Ireland.
      </li><li>
        <span>Name three words that you describe you.</span> Honest, reliable,
        friendly.
      </li><li>
        <span>How do you think your colleagues would describe you?</span
        > Hard-working and fun.
      </li><li>
        <span>What do you want to make sure you do before you die?</span> Travel
        to Italy with my family.
      </li>
    </ul>
  </div>

  <div class="opening-container">
    <div class="member-header-container">
      <div style="padding-bottom: 1rem;">
        <h2>Brandt Butze</h2>
        <h3>Company Cheerleader</h3>
        <h3>Sometimes Grumpiest Man at Work</h3>
      </div>

      <svg width="10rem" height="10rem" xmlns="http://www.w3.org/2000/svg">
        <circle cx="50%" cy="50%" r="4.8rem" fill="var(--guardian-green)"
        ></circle>
      </svg>
    </div>
    <ul>
      <li>
        <span>In another life,</span> I'm pretty sure I was introverted as I am NOT
        that way in this life.
      </li>
      <li>
        <span>If I won the lottery tomorrow,</span> I’d donate a lot of money to
        helping families afflicted by cancer. And, you know, keep working here.
      </li>
      <li>
        <span>The best piece of advice I've ever been given</span> "Be part of the
        solution."
      </li>
      <li>
        <span>If I could invent a holiday</span> it would involve an aluminum pole,
        and the airing of grievances. Wait, Seinfeld beat me to it. FESTIVUS for
        the rest of us!
      </li>
      <li>
        <span>
          What advice would you give a candidate who wants to join our team of
          superstars?
        </span> Balance life and work.
      </li>
      <li>
        <span>If I weren't so damn good at my job</span> I'd probably be a writer.
        I would say "If I were so damn good at writing I’d probably be doing that."
      </li>
      <li>
        <span>Cats or dogs?</span> Dogs. Not that you must choose, but cats scare
        the hell out of me.
      </li>
      <li>
        <span>The most important thing I learned before high school</span> was that
        my world around me is very small.
      </li>
      <li>
        <span>If I were a superhero</span> my superpower would be EMPATHY.
      </li>
      <li>
        <span>When I was 5,</span> I was pretty sure I'd be a professional hockey
        player when I grew up.
      </li>
      <li>
        <span>Who is someone you admire, and why?</span> My daughter, Ana. She (we)
        lost her brother to cancer. Ana graduated high school and moved to Chicago
        to college. Her strength and love know no bounds.
      </li>
      <li>
        <span>Name three words that you describe you.</span> Empathetic, loving,
        funny
      </li>
      <li>
        <span>How do you think your colleagues would describe you?</span> Loud.
      </li>
      <li>
        <span>What do you want to make sure you do before you die?</span> Live every
        moment with compassion and love.
      </li>
    </ul>
  </div>
</Layout>
