---
const today = new Date();
---

<footer>
  <div class="logo-container">
    <img
      src="/logo-transparent.svg"
      class="logo"
      alt="Guardian Medical Equipment logo, a speech bubble containing a G. The text 'Guardian Medical Equipment' is below"
    />
  </div>

  &copy; {today.getFullYear()} GUARDIAN MEDICAL EQUIPMENT. All rights reserved.
</footer>
<style>
  footer {
    padding: 25px;
    text-align: center;
    color: hsl(0, 0%, 100%);
  }
  .logo {
    width: 10rem;
    padding-bottom: 2em;
  }

  .logo-container {
    /* display: flex;
    justify-content: space-around; */
  }
</style>
