---
import HeaderLink from "./HeaderLink.astro";
---

<header>
  <img
    class="skyline"
    src="/skyline.jpg"
    alt="skyline view of Cleveland Ohio"
  />

  <nav class="header-link-container">
    <HeaderLink href="/">Home</HeaderLink>
    <HeaderLink href="/about">Sell to Us!</HeaderLink>
    <HeaderLink href="/team">Our Team</HeaderLink>
    <HeaderLink href="/equipment">Equipment/Service</HeaderLink>
  </nav>
</header>
<style>
  .header-link-container {
    position: relative;
    justify-content: space-between;
    display: flex;
    align-items: center;
    width: 32rem;
    border-radius: 10px 10px 0 0;
    /* box-shadow: 0 0.25rem 0.5rem hsl(0, 0%, 60%); */
    background-color: var(--guardian-green);
    overflow: hidden;
  }
  .header-link-container a {
    color: #fffcf7;
    padding: 1em;
  }
  .header-link-container a:hover {
    background-color: var(--guardian-dark-green);
  }
  .skyline {
    position: fixed;
    top: 1.25rem;
    z-index: -1;
    width: 60%;
  }
</style>
