---
import HeaderLink from "./HeaderLink.astro";
---

<header>
  <img
    class="skyline"
    src="/skyline.jpg"
    alt="skyline view of Cleveland Ohio"
  />

  <div class="header container flex">
    <HeaderLink href="/">
      <img
        src="/logo-transparent.svg"
        class="header-logo"
        alt="Guardian Medical Equipment logo, a speech bubble containing a G. The text 'Guardian Medical Equipment' is below"
      />
    </HeaderLink>
    <nav class="header-link-container">
      <HeaderLink href="/sell">Sell to Us!</HeaderLink>
      <HeaderLink href="/team">Our Team</HeaderLink>
      <HeaderLink href="/equipment">Equipment/Service</HeaderLink>
    </nav>
  </div>
</header>

<style>
  .flex {
    display: flex;
    align-items: flex-end;
  }
  .header-link-container {
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 0 10px 0 0;
    background-color: var(--guardian-green);
    overflow: hidden;
  }
  .header-logo {
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 10px 10px 0 0;
    background-color: var(--guardian-green);
    width: 7rem;
    padding: 0.5em 1em;
  }
  .header-logo:hover {
    background-color: var(--guardian-dark-green);
  }
  .header-link-container a {
    color: #fffcf7;
    padding: 1em;
  }
  .header-link-container a:hover {
    background-color: var(--guardian-dark-green);
  }
  .skyline {
    position: fixed;
    top: 0;
    z-index: -1;
    width: 60%;
  }
</style>
