---
import HeaderLink from "./HeaderLink.astro";
---

<nav class="header-tab">
  <HeaderLink href="/">Home</HeaderLink>
  <HeaderLink href="/sell">Sell to Us!</HeaderLink>
  <HeaderLink href="/team">Our Team</HeaderLink>
  <HeaderLink href="/equipment">Equipment/Service</HeaderLink>
</nav>

<style>
  .header-tab {
    /* display: flex;
      flex-direction: column;
      align-items: center; */
    /* display: grid; */
    /* border-radius: 10px 0 0 10px; */
    /* width: 5em; */
    padding: 1em;
    /* background-color: var(--guardian-green);
      position: fixed;
      max-width: min-content;
      left: 50%;
      top: 50%; */
  }
  .header-tab a {
    padding-bottom: 0.25em;
  }
</style>
