---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import HeaderTab from "../components/HeaderTab.astro";
import HeaderTabButton from "../components/HeaderTabButton.jsx";
// import HeaderLink from "../components/HeaderLink.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
---

<style is:global>
  @keyframes slidein {
    from {
      margin-left: 100%;
      /* width: 300%; */
    }

    to {
      margin-left: 0%;
      /* width: 100%; */
    }
  }

  p {
    padding: 0.75rem 1rem 0;
  }
  h2 {
    padding: 0.5rem 0 0 0.75rem;
  }
  body {
    padding-top: 19.7%;
  }
  .opening-container {
    padding: 1.5rem 10rem 2rem;
    border-radius: 0 0 10px 10px;
  }
  .white-container {
    padding: 1.5rem 10rem 2rem;
    border-radius: 0 0 10px 10px;
  }
  .story-container {
    padding: 1.5rem 10rem 2rem;
    background-color: hsl(0, 0%, 90%);
  }
  .contact-container {
    padding-top: 1rem;
  }
  .equipment-list {
    list-style-type: none;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
  }
  .equipment-list li {
    padding: 0.25rem 0;
  }
  .equipment-list-left {
    padding-right: 15%;
  }
  .header-button,
  .header-tab {
    display: none;
  }
  .header-button {
    border: none;
    border-radius: 10px 0 0 10px;
    color: #fffcf7;
    background-color: var(--guardian-green);
    padding: 1em;
  }
  .header-button:hover {
    background-color: var(--guardian-dark-green);
  }
  .headshot {
    padding: 1rem;
  }
  .dan-container {
    text-align: right;
  }
  .dan-container-mobile {
    display: none;
  }

  @media (max-width: 95em) {
    .opening-container {
      /* margin-top: 4.5rem; */
      padding: 1.5rem 1rem 2rem;
    }
    .story-container,
    .white-container {
      padding: 1.5rem 1rem 2rem;
    }
  }
  @media (max-width: 58.2em) {
    body {
      max-width: 90vw;
    }
    ul {
      padding: 0 1rem;
    }
    .skyline {
      width: 80vw;
    }
    /* header {
      display: none;
    } */
    .header-container,
    .header-link-container,
    .header-logo {
      display: none;
    }
    .header-button {
      display: block;
    }
    .header-tab {
      display: grid;
      animation-duration: 0.35s;
      animation-name: slidein;
    }
    .header-tab:active {
      transition: all ease-in;
    }
    .header-button-container {
      display: flex;
      /* border: none; */
      border-radius: 10px 0 0 10px;
      background-color: var(--guardian-green);
      box-shadow: 0 0.25rem 0.5rem hsl(0, 0%, 60%);
      position: fixed;
      /* max-width: min-content; */
      right: 0;
      top: 50vh;
      overflow: hidden;
      /* bottom: 15%; */
    }
    .opening-container {
      margin-top: 4.5rem;
      padding: 1.5rem 1rem 2rem;
    }
    .story-container,
    .white-container {
      padding: 1.5rem 1rem 2rem;
    }
    .equipment-list-left {
      padding-right: 5%;
    }
  }
  @media (max-width: 35em) {
    .flex {
      flex-direction: column;
      align-items: flex-start;
    }
    .equipment-list {
      align-items: flex-start;
    }
    .email-button {
      margin: 1rem 0 0 1rem;
    }
    .member-header-container {
      flex-direction: column;
      text-align: center;
    }
    .dan-container-right {
      display: none;
    }
    .dan-container-mobile {
      display: block;
    }
  }
</style>

<style>
  .content-container {
    border-radius: 0 0px 10px 10px;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0 0.25rem 0.5rem hsl(0, 0%, 60%);
  }
</style>

<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>

  <body>
    <!-- <HeaderTab /> -->

    <HeaderTabButton client:load>
      <HeaderTab />
    </HeaderTabButton>
    <Header />
    <main>
      <div class="content-container">
        <slot />
      </div>
    </main>
    <Footer />
  </body>
</html>
